alabaster==0.7.10
Babel==2.5.3
boto3==1.4.8
botocore==1.8.0
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
docutils==0.14
future==0.15.2
idna==2.6
imagesize==1.0.0
ipython-genutils==0.2.0
iso8601==0.1.12
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.4.0
linecache2==1.0.0
MarkupSafe==1.0
nbformat==4.4.0
nose==1.3.7
numpy==1.16.0
packaging==17.1
pandas==0.23.4
py==1.4.34
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.0.2
pytest-timeout==1.0.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.20.0
s3transfer==0.1.11
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-jupyter==0.1.dev20171024
sphinxcontrib-websupport==1.1.0
traceback2==1.4.0
traitlets==4.3.2
typing==3.6.2
urllib3==1.25.6
