# List of files to be included when building a package.
# Note that Python files do not have to be listed here.
include LICENSE
include requirements.txt
include CHANGES.rst
graft src/franz/openrdf/tests
global-exclude __pycache__
global-exclude *.py[co]
