# Requirements installed in the environment used to run tox
# Versions are pinned to ensure that Python 2.6 is supported.
certifi==2018.1.18
pluggy==0.6.0
setuptools==36.8.0
wheel==0.30.0
pip==9.0.1
py==1.4.34
tox==2.9.1
twine==1.9.1
